* {
  background-color: black;
  color: chartreuse;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 75%;
}

.centerContent {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh; /* This will make the item take up the full height of the viewport */
}
