* {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
}

/* body {
    /* background-color: #191970; */
/*

/* Navigation Bar */


nav {
    border-bottom: 2px solid #ffff00;
    height: 170px;
    display: flex;
    position: fixed;
    width: 100%;
    color: #ffff00;
    justify-content: space-between;
    align-items: center;
    background-color: #191970;
}

img.logo {
    height: 170px;
    margin: 10px 0;
    margin-left: 30px;
    width: 211px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 2em;
    
    
}

li {
    display: inline;
}

a {
    font-size: 2em;
    color: #ffff00;
    text-decoration: none;
    padding: 38px;
}

/* Header Section  */

header {
    background-image: url('/images/header-image-2.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    padding-top: 174px;
    min-height: 500px;
    text-align: center;
    justify-content: center;
}

.header-text {
    max-width: 1061px;
    margin: 60px;
        
}

.header-article {
    font-weight: 650;
    line-height: 1.8;
}

h1 {
    font-size: 2rem;
    font-weight: 900;
}




/* Team Section  */
section {
    display: flex;
    /* height: 500px; */
    margin-top: 40px
}

h2 {
    margin-top: 27px;
    text-align: center;
    color: #191970;
    font-size: 3em;
    font-weight: 800;
}

figure {
    display: flex;
    flex-wrap: wrap;
}

figcaption {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px 30px;
    width: 100%;
    margin: 0;
    color: white;
}

.teammate {
    width: 250px;
    height: 500px;
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    border: 7px solid white;
}

#ardonald {
    background-image: url(/images/team-member-1.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#adonald {
    background-image: url(/images/team-member-1.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#ericadonald {
    background-image: url(/images/team-member-1.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#kitadonald {
    background-image: url(/images/team-member-1.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#elandonald {
    background-image: url(/images/team-member-1.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

h3 {
    font-size: 2rem;
}

h4 {
    text-align: center;
    margin-top: 20px;
    width: 70%;
    line-height: 2;
    font-weight: 600;
    color: #191970;
}

/* Projects content */

.projects {
    max-width: 1000px;
    margin: 100px auto;
    padding: 0 20px;
}

.projects-row {
    display: flex;
    flex-wrap: wrap;
}

.project-row {
    width: 300px;
    min-height: 300px;
    display: flex;
    align-items: flex-end;
    border: 2px solid white;
}

#penn {
    background-image: url(/images/project-1.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
}

#cali {
    background-image: url(/images/project-1.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 5;

}

#mizzou {
    background-image: url(/images/project-1.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 5;

}

#florida {
    background-image: url(/images/project-1.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;

}